<nav class="navbar fixed-bottom navbar-dark bg-dark" style="opacity: 0.95;;" >
    <link type="text/css" href="E:\KSHITIJ_PROJECTS\kshitij\RestBlogapp\public\styles\app.css"/>
<div class = "foot">
<h4 style="color: white;"> Kshitij Darekar </h4>
</div>
</body> 
</html>


